<h2>Select a category:</h2>


<app-category (categorySelectEvent)="displayCategory($event)" [categories]="categories"></app-category>


<div *ngIf="items">
    <div id="items-container"  *ngIf="items.length; else elseBlock">
        <ng-container *ngFor="let item of items; let i = index">
            <!-- {{ item.name }} -->
            <app-item [item]="item" [index]="i" (deleteEvent)="deleteItem($event)"></app-item>
        </ng-container>
    </div>
    <ng-template #elseBlock>
        <div>
            There are no items in that category.
        </div>
    </ng-template>
    <form>
        <input #newItemName placeholder="name" required>
        <input #newItemSubtitle placeholder="subtitle">
        <button (click)="addItem($event, {name: newItemName.value, subtitle: newItemSubtitle.value})">Add item</button>

    </form>
</div>